<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../../Css/style.css" />
  </head>
  <body>
    <section class="login">
      <h1>Sing up</h1>
      <div id="content">
        <div id="inputs">
          <input type="text" placeholder="name" />
          <input type="email" placeholder="email" />
          <input type="password" placeholder="password" />
        </div>
        <div id="buttons">
          <button id="submit">Login</button>
          <button id="singup">Sing up</button>
        </div>
      </div>
      <p>yuri.joh | November 2022</p>
    </section>

    <script src="#"></script>
  </body>
</html>
